* {
  font-family: 'Roboto Condensed';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pomodoro-dark: #ba4949;
  --pomodoro-light: #c15c5c;
  --pomodoro-highlight: #a44e4e;

  --shortbreak-dark: #48a96d;
  --shortbreak-light: #67c28a;
  --shortbreak-highlight: #548a68;

  --longbreak-dark: #38858a;
  --longbreak-light: #4c9196;
  --longbreak-highlight: #417b80;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--pomodoro-dark);
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 3rem;
  padding: 30px 60px;
  border-radius: 10px;
  background-color: var(--pomodoro-light);
}

.topbar button {
  padding: 5px 10px;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: transparent;
}

.topbar button.active {
  /* background-color: var(--pomodoro-highlight); */
}

.timer {
  font-size: 8rem;
  color: white;
}

.btns {
  padding: 5px 0;
}

.pause,
.start,
.reset {
  display: inline;
  font-size: 2.5rem;
  padding: 5px 15px;
  background-color: var(--pomodoro-dark);
  border: none;
  border-radius: 6px;
  color: white;
}

@media (max-width: 425px) {
  .container {
    width: 80vw;
    padding: 5px 0;
  }

  .topbar button {
    font-size: 15px;
  }

  .pause,
  .start,
  .reset {
    font-size: 20px;
  }

  .timer {
    font-size: 70px;
  }

  .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
  }
}
