* {
  font-family: 'Roboto Condensed';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pomodoro-dark: #ba4949;
  --pomodoro-light: #c15c5c;
  --pomodoro-highlight: #a44e4e;

  --shortbreak-dark: #48a96d;
  --shortbreak-light: #67c28a;
  --shortbreak-highlight: #548a68;

  --longbreak-dark: #38858a;
  --longbreak-light: #4c9196;
  --longbreak-highlight: #417b80;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--longbreak-dark);
  color: #fff;
}

.container {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  height: 40vh;
  background-color: var(--longbreak-light);
  gap: 2rem;
}

.btn {
  color: #fff;
  /* background-color: var(--longbreak-light); */
  border: 0;
  margin: 0 10px;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 5px;
}

.topbar .active {
  background-color: var(--longbreak-highlight);
}

.timer {
  font-size: 8rem;
}

button:hover {
  cursor: pointer;
}

button {
  cursor: default;
}

.start {
  padding: 10px 40px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
}
